body {
    padding-top: 32px;
    width:100%;
    height:100%;
    background:darkblue;
    display:flex;
    flex-direction:column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    font-family:"Montserrat", sans-serif;
  }
  
  .calc-container {
   display:flex;
    flex-direction:column;
    gap:16px;
    padding:32px;
    background:white;
    border-radius:16px;
    box-shadow: 4px 0px 40px rgba(0,0,0,.28);
    width:400px;
  }
  
  input {
    padding:16px;
    border:none;
    background:#ddd;
    border-radius:8px;
  }
  
  #calculate {
    padding:24px;
    border-radius:8px;
    border:none;
    background: #222;
    color:white;
    text-transform:uppercase;
    transition: all 0.2s ease;
    
  }
  
  #calculate:hover {
    background:blue;
  }
  
  .flex-row {
    flex-direction:row;
    justify-content: space-around;
    text-align:center;
  }